<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>

    <%- include('partials/sidebar'); %>


        <div class="main-content">

            <header>

                <h2 class="dash-welcome">Welcome, User123</h2>
                <!--<div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Search">
            </div>-->

                <div class="social-icons">
                    <a href="/dashboard/profile"> <span class="ti-user"></span></a>

                </div>
            </header>

            <main>

                <h2 class="dash-title">Overview</h2>

                <div class="dash-cards">
                    <!--<div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Tables Available</h5>
                            <h4>10</h4>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <a href="/dashboard/tables">View all Tables</a>
                    </div>
                   
                </div>-->

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-check-box"></span>
                            <div>
                                <h5>Total Orders Today</h5>
                                <h4>
                                    <%=orderstoday.length%>
                                </h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/dashboard/orders">View all Orders</a>
                        </div>
                    </div>

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-reload"></span>
                            <div>
                                <h5>Current Orders</h5>

                                <h4>
                                    <%=currentorders.length%>
                                </h4>

                                </h4>
                            </div>

                        </div>
                        <div class="card-footer">
                            <a href="/dashboard/orders">View Current Orders</a>
                        </div>



                    </div>
                    <div class="card-single">
                        <div class="card-body">
                            <span class=ti-money></span>
                            <div>
                                <h5>Total Sales Today</h5>
                                <% for(let i=0; i< totalSales.length; i++){ %>
                                    <h4>₹<%=totalSales[i].todaySales || 0%>
                                    </h4>
                                    <%}%>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/dashboard/orders">View All Orders</a>
                        </div>
                    </div>
                </div>


                <section class="recent">
                    <div class="activity-grid">
                        <div class="activity-card">
                            <h3>Recent Orders</h3>

                            <div class="table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Customer ID</th>
                                            <th>Employee ID</th>
                                            <th>Time Ordered</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0; i< orderstoday.length; i++){ %>
                                            <tr>
                                                <td>
                                                    <%=orderstoday[i].ord_id%>
                                                </td>
                                                <td>
                                                    <%=orderstoday[i].cid_id%>
                                                </td>
                                                <td>
                                                    <%=orderstoday[i].eid%>
                                                </td>
                                                <td>
                                                    <span class="timeOrder">
                                                        <%=orderstoday[i].time_ordered%>
                                                    </span>
                                                </td>

                                                <td>
                                                    <span class="badge warning">Pending</span>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="summary">
                            <div class="summary-card">
                                <div class="summary-single">
                                    <span class="ti-id-badge"></span>
                                    <div>
                                        <h5>
                                            <%=employees.length %>
                                        </h5>
                                        <small>Number of staff</small>
                                    </div>
                                </div>

                                <div class="summary-single">
                                    <span class="ti-face-smile"></span>
                                    <div>
                                        <h5>
                                            <%=orders.length %>
                                        </h5>
                                        <small>Total Orders Served by us</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-primary" href="/dashboard/newOrder">
                        Add order
                    </a>
        </div>
        </section>
        </main>

        </div>

</body>

</html>