<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
    <link rel="stylesheet" href="/css/select2.css">
    <link rel="stylesheet" href="/css/newOrder.css">
    <script src="/js/selectscript.js" defer></script>
    <script src="/js/ordernew.js" defer></script>
</head>

<body>
    <%- include('partials/sidebar'); %>

        <div class="main-content">

            <header>

                <h2 class="dash-welcome">Welcome, User123</h2>

                <div class="social-icons">
                    <span class="ti-user"></span>

                </div>
            </header>

            <main>
                <h2 class="dash-title">New Order</h2>
                <div class="food-items">
                    <ul></ul>
                </div>

                <!-- action="/dishes/add-order" method="POST" -->
                <form class="form-new-order">
                    <div class="form-group">
                        <label for="dish" class="dishLabel">Add dish: </label>
                        <select data-custom name="dish" class="dish">
                            <option value="-">Select dish</option>
                            <% for(var i=0; i < dishes.length; i++) { %>
                                <option value="<%= i %>" data-price="<%= dishes[i].price %>">
                                    <%= dishes[i].name %>
                                </option>
                                <% } %>
                        </select>
                        <button class="btn btn-primary btn-add-dish">Add dish to order</button>
                    </div>
                    <div class="form-group">
                        <label for="customer" class="customerLabel">Customer name: </label>
                        <select data-custom name="customer" class="customer">
                            <option value="-">Select customer</option>
                            <% for(let i=0; i < customers.length; i++) { %>
                                <option value="<%= i %>">
                                    <%= customers[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn-primary" type="submit">Submit Order</button>
                    </div>
                </form>

            </main>


</body>

</html>