<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>dbmsproject</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/dashboard/tables">
                        <span class="ti-face-smile"></span>
                        <span>Tables</span>
                    </a>
                </li>-->


                <li>
                    <a href="/dashboard/orders">
                        <span class="ti-clipboard"></span>
                        <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/customers">
                        <span class="ti-folder"></span>
                        <span>Customers</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/staff_management">
                        <span class="ti-time"></span>
                        <span>Staff Management</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/profile">
                        <span class="ti-id-badge"></span>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">

        <header>

            <h2 class="dash-welcome">Welcome, User123</h2>

            <div class="social-icons">
                <span class="ti-user"></span>

            </div>
        </header>

        <main>
            <h2 class="dash-title">Orders page</h2>
            <div class="activity-card">
                <h3>Table Occupancy</h3>
                
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer Name</th>
                                <!-- <th>Table Number</th> -->
                                <th>Date Ordered</th>
                                <th>Time Ordered</th>
                                <th>Time Delivered</th>
                                <th>Dishes</th>
                                
                                
                            </tr>
                        </thead>
                        <% for( let i=0; i < orders.length; i++ ) { %>
                            <tr>
                                <td>
                                    <%= orders[i].ord_id %>
                                </td>
                                <td>
                                    <%=orders[i].name%>
                                </td>
                                <td>
                                    <%= orders[i].date.toLocaleDateString()%>
                                </td>
                                <td>
                                    <%=orders[i].time_ordered%>
                                </td>
                                <td>
                                    <%=orders[i].time_delivered%>
                                </td>

                            </tr>
                            <% } %>



        </main>


</body>

</html>