<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>
    <input type="checkbox" id="sidebar-toggle">
    <%- include('partials/sidebar'); %>

        <div class="main-content">

            <header>

                <h2 class="dash-welcome">Welcome, User123</h2>

                <div class="social-icons">
                    <span class="ti-user"></span>

                </div>
            </header>

            <main>
                <div class="activity-card">
                    <h3 class="dash-title">Orders</h3>
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Customer Name</th>
                                    <!-- <th>Table Number</th> -->
                                    <th>Date Ordered</th>
                                    <th>Time Ordered</th>
                                    <th>Time Delivered</th>
                                    <th>Dishes</th>


                                </tr>
                            </thead>
                            <% for( let i=0; i < orders.length; i++ ) { %>
                                <tr>
                                    <td>
                                        <%= orders[i].ord_id %>
                                    </td>
                                    <td>
                                        <%=orders[i].name%>
                                    </td>
                                    <td>
                                        <%= orders[i].date.toLocaleDateString()%>
                                    </td>
                                    <td>
                                        <%=orders[i].time_ordered%>
                                    </td>
                                    <td>
                                        <%=orders[i].time_delivered%>
                                    </td>

                                </tr>
                                <% } %>



            </main>


</body>

</html>