<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/dash.css">
</head>

<body>
    <%- include('partials/sidebar', { isAdmin }); %>

        <div class="main-content">

            <%- include('partials/top', { name }) %>


                <main>
                    <div class="activity-card">
                        <h3>Our Staff</h3>

                        <div class="table-responsive">

                            <table>
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Customer Name</th>
                                        <th>Date Ordered</th>
                                        <th>Time Ordered</th>
                                        <th>Time Delivered</th>
                                        <th>Dishes</th>
                                        <th>
                                            Order Total
                                        </th>
                                    </tr>
                                </thead>


                                <% for( let i=0; i < todaycomp_orders.length; i++ ) { %>
                                    <tr>
                                        <td>
                                            <%= todaycomp_orders[i].ord_id %>
                                        </td>
                                        <td>
                                            <%=todaycomp_orders[i].name%>
                                        </td>
                                        <td>
                                            <%=todaycomp_orders[i].date.toLocaleDateString()%>
                                        </td>
                                        <td>
                                            <%=todaycomp_orders[i].time_ordered%>
                                        </td>
                                        <% if(todaycomp_orders[i].time_delivered) { %>
                                            <td>
                                                <%=todaycomp_orders[i].time_delivered%>
                                            </td>
                                            <% } else { %>
                                                <td> <span class="badge warning">Pending</span></td>
                                                <% } %>
                                                    </td>



                                                    <td>
                                                        <% for( let j=0; j < orderdishes.length; j++ ) { %>
                                                            <% if(todaycomp_orders[i].ord_id===orderdishes[j].ord_id ){
                                                                %>

                                                                <%=orderdishes[j].name%> (X
                                                                    <%=orderdishes[j].quantity%>)<br>

                                                                        <% } %>

                                                                            <% } %>
                                                    </td>

                                                    <td>
                                                        ₹ <%= orderCostObj[todaycomp_orders[i].ord_id] %>

                                                    </td>


                                    </tr>
                                    <% } %>





                </main>




</body>

</html>